/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styles */
  body {
    background: #f6f7fb; /* Light blue background */
    font-family: Arial, sans-serif; /* Default font */
  }
  /* Todo Container Styles */
  .todo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 700px;
    background: #fff; /* White background */
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  /* Todo Title Styles */
  .todo-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px; /* Add some space below the title */
    color: #333; /* Dark text color */
  }
  
  /* Todo Header Styles */
  .todo-header {
    display: flex;
    justify-content: space-between; /* Align items to the ends */
    align-items: center;
  }
  
  .todo-header input {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid #6ab04c; /* Green border */
    border-radius: 10px;
    margin-right: 15px; /* Add some space between input and button */
    font-size: 1.3em; /* Larger font size */
  }
  
  .todo-header button {
    color: #fff;
    background-color: #6ab04c; /* Green button */
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  .todo-header button:hover {
    background-color: #4e8c3b; /* Darker green on hover */
  }
  
  /* Todo List Item Styles */
  .todo-list-item {
    padding: 15px;
    border-radius: 10px;
    background: #f2f2f2; /* Light gray background for items */
    margin-bottom: 15px; /* Add some space between items */
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .todo-list-item input {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid #6ab04c; /* Green border */
    border-radius: 10px;
    margin-right: 15px; /* Add some space between input and buttons */
    font-size: 1.3em; /* Larger font size */
  }
  
  .todo-list-item button {
    color: #fff;
    background-color: #6ab04c; /* Green button */
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .todo-list-item button:hover {
    background-color: #4e8c3b; /* Darker green on hover */
  }
  
  /* Edit and Remove Styles */
  .todo-list-item .edit {
    color : rgb(143, 233, 58);
    margin-left: 490px;
    cursor:pointer;
    text-decoration: none;
    font-size: 1.3em;
    }
    .todo-list-item .remove {
    color : rgb(243, 96, 96);
    margin-left: 5px;
    cursor:pointer;
    text-decoration: none;
    font-size: 1.3em;
    }