<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div class="todo-container">
    <h2>To-Do List</h2>
    <div class="todo">
        <form id="todo-form" action="/todotask" method="POST" class="todo-header">
            <input id="content" type="text" name="content" placeholder="Enter task">
            <input id="date" type="datetime-local" name="date">
            <button type="submit"><span class="fas fa-plus"></span></button>
        </form>
        <ul id="todo-list" class="todo-list">
            <!-- New to-do items will be added here -->
        </ul>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('todo-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var todoInput = document.getElementById('content');
            var todoDatetime = document.getElementById('date');
            var newTodoText = todoInput.value.trim();
            var newTodoDatetime = todoDatetime.value;

            if (newTodoText !== '' && newTodoDatetime !== '') {
                var newTodoItem = {
                    text: newTodoText,
                    datetime: newTodoDatetime
                };

                addTodoToDOM(newTodoItem);
                
                todoInput.value = '';
                todoDatetime.value = '';
            }
        });
    });

    function addTodoToDOM(todoItem) {
        var todoList = document.getElementById('todo-list');
        var newTodoItemElement = document.createElement('li');
        newTodoItemElement.className = 'todo-list-item';

        newTodoItemElement.innerHTML = `
            <h5>
                <div class="todo-list-item-name">${todoItem.text}</div>
                <div class="todo-list-item-datetime">${new Date(todoItem.datetime).toLocaleString()}</div>
            </h5>
            <a href="" class="edit">
                <span class="fas fa-edit"></span>
            </a>
            <a href="" class="remove">
                <span class="fas fa-times"></span>
            </a>
        `;

        todoList.appendChild(newTodoItemElement);
    }
</script>
</body>
</html>
